/* Widen page */
.container,
.container-xl,
.container-xxl {
  max-width: 1600px !important;
}

/* Center tables */
.article table {
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.article caption {
  caption-side: bottom;
  text-align: center;
}

/* Code colors */
span.co { color: #5e97d1 !important; font-style: italic; }
span.va { color: #228b22 !important; }